body {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#26B3A5', endColorstr='#1C1C27' ,GradientType=0)";
    background : -moz-linear-gradient(50% 100% 90deg,rgba(38, 179, 165, 1) 0%,rgba(36, 146, 137, 1) 2.31%,rgba(34, 115, 111, 1) 5.06%,rgba(32, 87, 89, 1) 8.17%,rgba(30, 65, 70, 1) 11.69%,rgba(29, 48, 56, 1) 15.8%,rgba(29, 37, 46, 1) 20.88%,rgba(28, 30, 41, 1) 28%,rgba(28, 28, 39, 1) 47.78%);
    background : -webkit-linear-gradient(90deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(38, 179, 165, 1) ),color-stop(0.0231,rgba(36, 146, 137, 1) ),color-stop(0.0506,rgba(34, 115, 111, 1) ),color-stop(0.0817,rgba(32, 87, 89, 1) ),color-stop(0.1169,rgba(30, 65, 70, 1) ),color-stop(0.158,rgba(29, 48, 56, 1) ),color-stop(0.2088,rgba(29, 37, 46, 1) ),color-stop(0.28,rgba(28, 30, 41, 1) ),color-stop(0.4778,rgba(28, 28, 39, 1) ));
    background : -o-linear-gradient(90deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    background : -ms-linear-gradient(90deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    background : linear-gradient(0deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C1C27',endColorstr='#26B3A5' , GradientType=0);
    font-family: Robotothin, sans-serif !important;
}

h1,h2,h3,h4,h5 {
    color:#0071bc;
}
.ui-content{
    height: 100%;
}

.ui-content input {
    background-color: #fff3;
    border-width: 0;
}

.ui-content label {
    margin: 0 5% 0 5%;
    max-width: 90%;
    font:inherit;
}

.ui-content label .ui-input-text {
    background-color: #363649;
    border: none;
    font-size: 18px;
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
}

.ui-page {
    background : -ms-linear-gradient(90deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    background : -moz-linear-gradient(50% 100% 90deg,rgba(38, 179, 165, 1) 0%,rgba(36, 146, 137, 1) 2.31%,rgba(34, 115, 111, 1) 5.06%,rgba(32, 87, 89, 1) 8.17%,rgba(30, 65, 70, 1) 11.69%,rgba(29, 48, 56, 1) 15.8%,rgba(29, 37, 46, 1) 20.88%,rgba(28, 30, 41, 1) 28%,rgba(28, 28, 39, 1) 47.78%);
    background : -o-linear-gradient(90deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    background : -webkit-linear-gradient(90deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(38, 179, 165, 1) ),color-stop(0.0231,rgba(36, 146, 137, 1) ),color-stop(0.0506,rgba(34, 115, 111, 1) ),color-stop(0.0817,rgba(32, 87, 89, 1) ),color-stop(0.1169,rgba(30, 65, 70, 1) ),color-stop(0.158,rgba(29, 48, 56, 1) ),color-stop(0.2088,rgba(29, 37, 46, 1) ),color-stop(0.28,rgba(28, 30, 41, 1) ),color-stop(0.4778,rgba(28, 28, 39, 1) ));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#26B3A5', endColorstr='#1C1C27' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(38, 179, 165, 1) 0%, rgba(36, 146, 137, 1) 2.31%, rgba(34, 115, 111, 1) 5.06%, rgba(32, 87, 89, 1) 8.17%, rgba(30, 65, 70, 1) 11.69%, rgba(29, 48, 56, 1) 15.8%, rgba(29, 37, 46, 1) 20.88%, rgba(28, 30, 41, 1) 28%, rgba(28, 28, 39, 1) 47.78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C1C27',endColorstr='#26B3A5' , GradientType=0);
}

.btn-wrapper {
    height: 20%;
    width: 100%;
    float: left;
    padding: 0 3% 0 3%;
    margin: 0;
    vertical-align: middle;
}

.btn-wrapper a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: solid #a9ca3d 2px;
    border-radius: 0px;
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 12px 5% 14px 5%;
    text-align: center;
    text-decoration: none;
    width: 34.5%;
}

.btnreg {
    background: transparent;
    color: #ffffff !important;
    float: left;
    position: relative;
}

.btnlogin {
    background: #a9ca3d;
    color: black !important;
    float: left;
    position: relative;
}

.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.fa {
    color: #A3FF57 !important;
    font-size: 20px;
    margin-right: 40px;
}

#terminos {
    padding-left: 35px;
}
.mc-text-center {
    text-align:center;
}
.mc-top-margin-1-5 {
    margin-top:1.5em;
}
h2.mc-text-danger,
h3.mc-text-danger  {
    color:red;
}

.bi-invalid-input {
    background-color:#edfb19 !important;
}

.bi-invisible {
    display:none;
}

.bi-ctn-err {
    background-color:#34a0fc;
    padding:0 .5em;
    margin-bottom:.5em;
    border: 1px solid #34a0fc;
    border-radius:3px 3px;
}

.bi-header {
    border: 0px; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 21;
}
#icon-label1 {
    position: relative;
}

#icon-label1 .fa-user-circle-o {
    top: 10px;
    left: 10px;
    position: absolute;
}

#fname {
    padding-left: 40px;
    font: inherit;
    color: white;
}
#icon-label2 {
    position: relative;
}

#icon-label2 .fa-lock {
    top: 10px;
    left:10px;
    position: absolute;
}

#password {
    padding-left: 40px;
    font: inherit;
    color: white;
}
.ui-mini {
    margin: -0.554em !important;
}
#icon-label3 {
    position: relative;
}

#icon-label3 .fa-user-o {
    top: 10px;
    left:10px;
    position: absolute;
}
#icon-label4 {
    position: relative;
}

#icon-label4 .fa-envelope-o {
    color: #666;
    top: 10px;
    left:10px;
    position: absolute;
}
#icon-label5 {
    position: relative;
}

#icon-label6 .fa-user-circle{
    color: #666;
    top: 10px;
    left:10px;
    position: absolute;
}
#icon-label6 {
    position: relative;
}

#icon-label5 .fa-calendar-o {
    color: #666;
    top: 10px;
    left:10px;
    position: absolute;
}
#icon-label7 {
    position: relative;
}

#icon-label7 .fa-lock {
    color: #666;
    top: 10px;
    left:10px;
    position: absolute;
}
#icon-label8 {
    position: relative;
}

#icon-label8 .fa-venus-mars {
    color: #666;
    top: 10px;
    left:10px;
    position: absolute;
}
#txt-first-name {
    padding-left: 35px;
}
#email {
    padding-left: 35px;
}
#birthday {
    padding-left: 35px;
}
#txt-user {
    padding-left: 35px;
    vertical-align: middle;
}
#txt-password {
    padding-left: 35px;
}

#generos {
    padding-left: 35px;
}

#name {
    padding-left: 50px;
    font-size: 24px;
}

#icon-label9 {
    position: relative;
}

#icon-label9 .fa-navicon {
    color: #1eb1a1;
    top: 2px;
    left:10px;
    position: absolute;
	font-size: 28px;
}

#logo {
    vertical-align: middle;
    align-self: center;
    margin-bottom: 7%;
    min-height: 160px;
    min-width: 160px;
    height: 20%;
    width: 20%;
}

#reset-pswd a {
    color: #13B3BF;
    float: right;
    margin-right: 5%;
}

#home-header {
    height: 50%;
    margin: 0;
    padding: 12% 0 12% 0;
    width: 100%;
}

#home-header p{
    min-font-size: 24px;
    margin: 0;
    padding: 0 20% 0 20%;
}

#login-form {
    height: 30%;
    float: left;
    margin: 0;
    padding: 15% 0 15% 0;
    width: 100%;
}
.ui-input-text input::-moz-placeholder, .ui-input-search input::-moz-placeholder, textarea.ui-input-text::-moz-placeholder {
    color: #ffffff !important;
}